# AnimeCiX Stremio Addon Configuration

# AnimeCiX Public Web API Base URL
API_HOST=https://animecix.tv/secure

# Server Configuration
PORT=7000
HOSTING_URL=http://localhost:7000

# User Agent
USERAGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36

# Subtitle AI URL
SUBTITLEAI_URL=https://tau-video.xyz

# Cookie Server (opsiyonel)
COOKIESERVER=

# Discord Rich Presence (RPC)
DISCORD_RPC_ENABLED=true
DISCORD_CLIENT_ID=921684324141641728

NGROK_AUTHTOKEN=
